/* Medium Layout */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .carousel-caption {
        top: 22%;
    }

    .services-area h2::after {
        background-color: transparent;
    }

    .services-area p {
        margin-left: 0;
    }

    .blog-meta-left a {
        margin-right: 10px;
    }

    .blog-meta-left i {
        margin-right: 5px;
    }
}

/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        top: 15%;
    }

    .carousel-caption p {
        display: none;
    }

    .services-area h2::after {
        background-color: transparent;
    }

    .breadcrumb-area {
        padding: 50px 0;
    }
}

/* Mobile Layout */
@media only screen and (max-width: 767px) {
    .carousel-caption {
        top: 20%;
    }

    .carousel-caption h1 {
        font-size: 1.3rem;
    }

    .carousel-caption p {
        display: none;
    }

    .breadcrumb-area {
        padding: 50px 0;
    }

    .services-area h2 {
        font-size: 1.8rem;
    }

    .services-area h2::after {
        background-color: transparent;
    }

    .services-area p {
        margin-left: 0;
    }

    .cta-area h4 {
        line-height: 46px;
    }

    .blog-meta-left {
        display: flex;
        flex-direction: column;
    }
}
